/*.mycontent{
  padding-top: 100px;
 border: 10px solid red;
}*/

#topheader .navbar-nav li > a {
	text-transform: capitalize;
	color: #333;
	transition: background-color .2s, color .2s;

	&:hover,
	&:focus {
		background-color: #333;
		color: #fff;
	}
}

#topheader .navbar-nav li.active > a {
	background-color: #333;
	color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #030142;
  margin: 0;
}

body {
    color: white;
}

nav, a {
    color: white;
}

/*#note {
  position: absolute;
  color: rgba(249,241,204,1);
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  text-align: center;
  user-select: none;
  font-family: Arial;
}*/